<!DOCTYPE html>
{% load staticfiles %}
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Page</title>
		<link rel="stylesheet" media="all" href="{% static 'css/styles.css' %}" >
	</head>
	<body>
		<div class="wrapper bg_style2">
			<div class="header header_border">
				<div class="container clearfix"><a class="logo" href="#"><img src="img/logo.png" alt=""></a>
					<ul class="menu">
						<li class="only-mob"><a class="menu_close">✕</a></li>
						<li><a href="#">ICO</a></li>
						<li><a href="#">Рейтинг трейдеров</a></li>
						<li><a href="#">Биржа</a></li>
						<li><a href="#">ICO-трекер</a></li>
					</ul>
					<div class="pull-right">
						<div class="inline-block align-middle header-social"><span class="align-middle">Наши чаты:</span>
							<div class="social"><a class="item-soc" href="#" target="_blank"><img src="img/soc-icon_1.png" alt=""></a><a class="item-soc" href="#" target="_blank"><img src="img/soc-icon_2.png" alt=""></a></div>
						</div>
						<div class="inline-block align-middle lang-container"><a class="lang-btn" href="#">Ru</a>
							<ul class="lang-list">
								<li><a href="#"><img src="img/flag_1.png" alt=""><span>English</span></a></li>
								<li><a href="#"><img src="img/flag_2.png" alt=""><span>Русский</span></a></li>
								<li><a href="#"><img src="img/flag_3.png" alt=""><span>中文</span></a></li>
								<li><a href="#"><img src="img/flag_4.png" alt=""><span>日本語</span></a></li>
								<li><a href="#"><img src="img/flag_5.png" alt=""><span>한국어</span></a></li>
								<li class="mb0"><a href="#"><img src="img/flag_6.png" alt=""><span>English</span></a></li>
								<li class="mb0"><a href="#"><img src="img/flag_7.png" alt=""><span>Deutsch</span></a></li>
								<li class="mb0"><a href="#"><img src="img/flag_8.png" alt=""><span>िंदी</span></a></li>
								<li class="mb0 mb0_mob"><a href="#"><img src="img/flag_9.png" alt=""><span>Español</span></a></li>
								<li class="mb0 mb0_mob"><a href="#"><img src="img/flag_10.png" alt=""><span>Français</span></a></li>
							</ul>
						</div><a class="btn_style only-pc-tab" href="enter.html">Войти</a><a class="nav-icon btn-mob-nav"><span></span><span></span><span></span><span></span></a>
					</div>
				</div>
			</div>
			<form class="verification_window" enctype="multipart/form-data" method="post" action="">
				{% csrf_token %}
				<div class="verification_title fs32">Регистрация трейдера/фонда</div>
				<div class="verification_massage fs19">На ваш телефон был отправлен проверочный код,<br> введите его для завершения регистрации</div>
				<div>
					<div class="verification_code field-label">Проверочный код:</div>
					<div class="field">
						<input class='char_field_code' name="code" type="text">
					</div>
					<div>
						<input class="btn_style btn_size2" type="submit" value="Завершить регистрацию">
					</div>
				</div>
			</form>

		</div>
	</body>
</html>
